<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT articleMain ANY>
<!ATTLIST articleMain id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1065" key="a25f1256-2ac0-445c-9adb-e84418049c88" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-23T11:03:33" updateDate="2016-04-08T17:53:27" nodeName="Forside" urlName="forside" path="-1,1065" isDoc="" nodeType="1052" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1051" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Forside Side Title]]></siteTitle>
    <articlesMain id="1066" key="3e49ae3f-784c-4cdb-aa38-a163111fe6d7" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2016-02-23T11:06:49" updateDate="2016-04-08T18:37:05" nodeName="Articles" urlName="articles" path="-1,1065,1066" isDoc="" nodeType="1057" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1056" nodeTypeAlias="articlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>Dette er body text</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Dette Articles Title]]></articlesTitle>
      <articleMain id="1067" key="2354998b-3a6e-443e-bd14-44df6efb22b2" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2016-02-23T11:07:23" updateDate="2016-04-08T19:42:35" nodeName="The articles that changed the web" urlName="the-articles-that-changed-the-web" path="-1,1065,1066,1067" isDoc="" nodeType="1059" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1058" nodeTypeAlias="articleMain">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[The articles that changed the web]]></articleTitle>
        <articleContent><![CDATA[<p><span>Each and every day we take journeys. We embark on customer journeys in both the physical and digital worlds. Years ago our journeys were limited to store fronts and physical goods. Today we live in a multimedia world of websites, social media, chat sessions, newsletters, email, and call centers. These digital journeys have changed the way we interact with companies and products.</span></p>]]></articleContent>
      </articleMain>
      <articleMain id="1068" key="e6763864-58f0-447c-9098-47bc6f11b2fd" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2016-02-23T11:07:57" updateDate="2016-04-08T19:43:03" nodeName="Another great article" urlName="another-great-article" path="-1,1065,1066,1068" isDoc="" nodeType="1059" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1058" nodeTypeAlias="articleMain">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Another great article]]></articleTitle>
        <articleContent><![CDATA[<p><span>You walk into a car dealership with high hopes of purchasing a new vehicle. The dealership you picked is an amazing store that comes highly recommended and sells everything from economical Ford and GM cars, trucks, and minivans to luxury brands like Jaguar, Infiniti, and Ferrari. Everything under one roof! What could be better? </span></p>]]></articleContent>
      </articleMain>
      <articleMain id="1069" key="fd0a70cb-0472-419a-aa6c-c200406f01a0" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2016-02-23T11:08:21" updateDate="2016-04-08T19:43:26" nodeName="A Peek Inside Our Recent Website Redesign" urlName="a-peek-inside-our-recent-website-redesign" path="-1,1065,1066,1069" isDoc="" nodeType="1059" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1058" nodeTypeAlias="articleMain">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[A Peek Inside Our Recent Website Redesign]]></articleTitle>
        <articleContent><![CDATA[<p><span>If I said it has been a busy couple of months inside of Web Savvy Marketing, it would be an understatement at best. While summer is traditionally our slow period, we started a website redesign  and it has been a major undertaking for me and my team. I never do anything half way and this website redesign is a perfect example of my inability to go “minor” in anything I do. </span></p>]]></articleContent>
      </articleMain>
      <articleMain id="1070" key="f1c2e7f9-d573-4e5f-ba35-b1c132a88513" parentID="1066" level="3" creatorID="0" sortOrder="3" createDate="2016-02-23T11:08:44" updateDate="2016-04-08T19:43:57" nodeName="Professional Website Design is Alive and Well" urlName="professional-website-design-is-alive-and-well" path="-1,1065,1066,1070" isDoc="" nodeType="1059" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1058" nodeTypeAlias="articleMain">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Professional Website Design is Alive and Well]]></articleTitle>
        <articleContent><![CDATA[<p><span>Contrary to what you’ve read recently, professional website design is not dead. In fact, the professional website designer is alive and well and business is thriving. While popular media outlets like Mashable.com report that artificial intelligence and low cost WordPress templates are killing the occupation of professional website design, these are headlines geared towards driving traffic and discussion.</span></p>]]></articleContent>
      </articleMain>
    </articlesMain>
    <projectsMain id="1071" key="057cab6e-8593-48d3-8217-75dd1c6e79b5" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2016-04-07T14:25:00" updateDate="2016-04-07T14:25:00" nodeName="Projects" urlName="projects" path="-1,1065,1071" isDoc="" nodeType="1061" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1060" nodeTypeAlias="projectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectItem id="1072" key="88591307-9f2e-4d89-acce-e477376fb868" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2016-04-07T14:25:30" updateDate="2016-04-08T16:52:08" nodeName="Adriaterhavets Kyst" urlName="adriaterhavets-kyst" path="-1,1065,1071,1072" isDoc="" nodeType="1063" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1062" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>Oplevelser, sol og strand. Kilometerlange sandstrande kombineret med en indbydende promenade midt i det naturskønne område Emilia Romagna er det perfekte udgangspunkt for din ferie. Byen Bellaria er centralt placeret mellem flere spændende udflugtsmål, og der venter dig en god blanding af kendte byer og små fiskerbyer langs den smukke kyst. Nyd din ferie på vores gode hoteller, hvor helpension og drikkevarer er inkluderet. Vi tager på udflugt til bl.a. den spændende by Ravenna og går på opdagelse i Riminis gamle bydel. Snyd ikke dig selv for eventyrlige Venedig med Markuspladsen og Sukkenes bro. Der bliver også tid til en hyggelig vinsmagning, besøg på det lokale marked og tid til at nyde de små caféer. Måske frister en tur på stranden eller en dukkert i hotellets swimmingpool. Du får mulighed for at opleve det hele. Velkommen til Adriaterhavets kyst.</span></p>]]></projectDescription>
        <projectStatus>11</projectStatus>
        <projectTitle><![CDATA[Adriaterhavets Kyst]]></projectTitle>
      </projectItem>
      <projectItem id="1073" key="df51cd3c-5a43-42bd-aa3a-1f606fe5e062" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2016-04-07T14:27:39" updateDate="2016-04-08T19:33:54" nodeName="Norge - Fjord, hav og fjeld" urlName="norge-fjord-hav-og-fjeld" path="-1,1065,1071,1073" isDoc="" nodeType="1063" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1062" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>På denne fantastiske rejse til Norge, kører du over Atlanterhavsvejens broer mellem holme og skær. Sejler på Gerangerfjorden. Ligesom du ser Trollstigen med de spektakulære hårnålesving. Kører på en af verdens 10 flotteste togstrækninger. Oplev berusende natur i den sydlige del af Norge. Mange store højdepunkter undervejs og selve vejen dertil er en oplevelse i sig selv.</span></p>]]></projectDescription>
        <projectStatus>11</projectStatus>
        <projectTitle><![CDATA[Norge - Fjord, hav og fjeld]]></projectTitle>
      </projectItem>
      <projectItem id="1074" key="a86aa37e-44d7-44db-8f1b-621586fed404" parentID="1071" level="3" creatorID="0" sortOrder="2" createDate="2016-04-07T14:42:36" updateDate="2016-04-08T16:52:19" nodeName="Costa Rica" urlName="costa-rica" path="-1,1065,1071,1074" isDoc="" nodeType="1063" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1062" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>Costa Rica, et lille land i Latinamerika, der har formået at beskytte dets helt unikke plante og dyreliv og den enestående natur. Intet andet sted i verden findes så mange forskellige dyrearter på så lille et areal. Det lille demokratiske land er på størrelse med Danmark, men her ophører alle ligheder. På denne rejse kan du opleve rygende vulkaner, eksotiske strande, snappende krokodiller, brølende aber, skræppende fugle, flagrende kæmpe sommerfugle og luntende havskildpadder. Det mangfoldige dyreliv og den overdådige natur er en oplevelse helt ud over det sædvanlige.</span></p>]]></projectDescription>
        <projectStatus>11</projectStatus>
        <projectTitle><![CDATA[Costa Rica]]></projectTitle>
      </projectItem>
      <projectItem id="1075" key="208ed74b-12cb-49ff-8fe7-8b73a766fb76" parentID="1071" level="3" creatorID="0" sortOrder="3" createDate="2016-04-07T14:43:12" updateDate="2016-04-08T16:52:36" nodeName="Den Toscanske Kyst" urlName="den-toscanske-kyst" path="-1,1065,1071,1075" isDoc="" nodeType="1063" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1062" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>Hvem drømmer ikke om Toscana med flot natur, kunsthistorie, kyst, natur og fantastisk kultur. En busrejse med mulighed for at opleve Toscana på spændende udflugter og nyde den smukke kyststrækning, som Toscana også er en del af.</span></p>]]></projectDescription>
        <projectStatus>8</projectStatus>
        <projectTitle><![CDATA[Den Toscanske Kyst]]></projectTitle>
      </projectItem>
    </projectsMain>
    <aboutUs id="1080" key="e65d0f31-95cc-4247-8b2b-480709a072f4" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2016-04-08T16:23:53" updateDate="2016-04-08T16:27:30" nodeName="About us" urlName="about-us" path="-1,1065,1080" isDoc="" nodeType="1078" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1077" nodeTypeAlias="aboutUs">
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutUsGrid><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "about us grid",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Dette er en overskift der giver impact!",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1079,
                    "image": "/media/1001/download.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>En vision er vigtig for enhver. Visionen skal være stærk og tydelig for alle der læser den, og hos os er der ikke noget at tage fejl af. Visionen er udarbejdet i fællesskab med alle parter.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Folkene bag projektet er nøje udvalgt, med projektets mål for øje. Der skal fokuseres mere end 100% og derfor betyder de individuelle skills og færdigheder meget.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Skills er noget vi besidder. Hos os er det ikke nok med middelmådighed. Vi bestræber os efter bedste bagværk og hjulmøtrikker fra dag et, hvilket kræver skills der ikke er til at tage fejl af.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "af66b639-45ba-a914-2c81-c65f77ce5fc6"
        }
      ]
    }
  ]
}]]></aboutUsGrid>
    </aboutUs>
    <login id="1103" key="0b132aee-74c2-4886-9ca3-23c2c5ac4cdb" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2016-04-08T18:58:21" updateDate="2016-04-08T18:58:21" nodeName="Login" urlName="login" path="-1,1065,1103" isDoc="" nodeType="1102" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1101" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <textPage id="1105" key="e6052e08-fcee-4feb-a6c7-9ec9e8fe4fdd" parentID="1065" level="2" creatorID="0" sortOrder="4" createDate="2016-04-08T19:27:35" updateDate="2016-04-08T19:30:03" nodeName="Error page" urlName="error-page" path="-1,1065,1105" isDoc="" nodeType="1055" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1054" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[Du har desværre ikke adgang til denne side]]></header>
    </textPage>
    <sitemap id="1108" key="a116324d-514c-4557-b75f-97dfba97df7d" parentID="1065" level="2" creatorID="0" sortOrder="5" createDate="2016-04-09T13:56:33" updateDate="2016-04-09T13:56:33" nodeName="Sitemap" urlName="sitemap" path="-1,1065,1108" isDoc="" nodeType="1107" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1106" nodeTypeAlias="sitemap">
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <contactPage id="1114" key="a3485988-8514-4e48-8c8c-bffbd7a597da" parentID="1065" level="2" creatorID="0" sortOrder="6" createDate="2016-04-10T13:45:07" updateDate="2016-04-10T13:47:37" nodeName="Contact Us" urlName="contact-us" path="-1,1065,1114" isDoc="" nodeType="1112" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1111" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <members id="1117" key="156b2916-b5ee-4e0f-a285-691657a7a27f" parentID="1065" level="2" creatorID="0" sortOrder="7" createDate="2016-04-10T14:49:41" updateDate="2016-04-10T14:49:41" nodeName="Members" urlName="members" path="-1,1065,1117" isDoc="" nodeType="1116" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1115" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
</root>