<!DOCTYPE root[<!ELEMENT articleMain ANY>
<!ATTLIST articleMain id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
 

]>
<root id="-1">
  <homePage id="1065" key="a25f1256-2ac0-445c-9adb-e84418049c88" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-23T11:03:33" updateDate="2016-02-23T11:03:33" nodeName="Forside" urlName="forside" path="-1,1065" isDoc="" nodeType="1052" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1051" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Forside Side Title]]></siteTitle>
    <mainContent><![CDATA[<p>Dette er selve Main Content</p>]]></mainContent>
    <articlesMain id="1066" key="3e49ae3f-784c-4cdb-aa38-a163111fe6d7" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2016-02-23T11:06:49" updateDate="2016-02-23T11:06:49" nodeName="Dette er Articles Main" urlName="dette-er-articles-main" path="-1,1065,1066" isDoc="" nodeType="1057" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1056" nodeTypeAlias="articlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>Dette er body text</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Dette Articles Title]]></articlesTitle>
      <articleMain id="1067" key="2354998b-3a6e-443e-bd14-44df6efb22b2" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2016-02-23T11:07:23" updateDate="2016-02-23T11:07:23" nodeName="Første artikel" urlName="foerste-artikel" path="-1,1065,1066,1067" isDoc="" nodeType="1059" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1058" nodeTypeAlias="articleMain">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[artiekel title 1]]></articleTitle>
        <articleContent><![CDATA[<p>brødtekst 1</p>]]></articleContent>
      </articleMain>
      <articleMain id="1068" key="e6763864-58f0-447c-9098-47bc6f11b2fd" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2016-02-23T11:07:57" updateDate="2016-02-23T11:07:57" nodeName="Anden artikel" urlName="anden-artikel" path="-1,1065,1066,1068" isDoc="" nodeType="1059" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1058" nodeTypeAlias="articleMain">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Anden artikel titel]]></articleTitle>
        <articleContent><![CDATA[<p>anden brødtekst</p>]]></articleContent>
      </articleMain>
      <articleMain id="1069" key="fd0a70cb-0472-419a-aa6c-c200406f01a0" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2016-02-23T11:08:21" updateDate="2016-02-23T11:08:25" nodeName="tredje artikel" urlName="tredje-artikel" path="-1,1065,1066,1069" isDoc="" nodeType="1059" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1058" nodeTypeAlias="articleMain">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[tredje artikel titel]]></articleTitle>
        <articleContent><![CDATA[<p>tredje brødtekst</p>]]></articleContent>
      </articleMain>
      <articleMain id="1070" key="f1c2e7f9-d573-4e5f-ba35-b1c132a88513" parentID="1066" level="3" creatorID="0" sortOrder="3" createDate="2016-02-23T11:08:44" updateDate="2016-02-23T11:08:44" nodeName="fjerde artikel" urlName="fjerde-artikel" path="-1,1065,1066,1070" isDoc="" nodeType="1059" creatorName="Daniel Buus Christiansen" writerName="Daniel Buus Christiansen" writerID="0" template="1058" nodeTypeAlias="articleMain">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[fjerde artikel]]></articleTitle>
        <articleContent><![CDATA[<p>fjerde brødtekst</p>]]></articleContent>
      </articleMain>
    </articlesMain>
  </homePage>
</root>